
:root {
    --backgroundColor: #fbfbfb;
    --backgroundColorSecondary: #d7c2f6;
    --textPrimaryColor: #2A2A2A;
  
    --headlineBig: clamp(3rem, 10vw, 15rem);
    --headlineSmall: clamp(1rem, 1.2vw, 6rem);
  }
  
  .text-rev {
    font-family: 'Montserrat', sans-serif;
    /* background-color: var(--backgroundColor); */
    background-color: white;
   
  }
  
  .reveal {
    /* background: var(--backgroundColor); */
    background-color: white;
    padding: 0 3rem;
    text-align: start;
   
  }
  
  .reveal-text {
    font-weight: 800;
    font-size: 8rem;
    line-height: var(--headlineBig);
    color: var(--backgroundColor);
    filter: drop-shadow(0 0 0.06rem rgb(2, 2, 2));
  }
  
  .spacing-small {
    height: auto;
    padding: 3rem 0;
  }
  
  .spacing {
    height: auto;
    width: 100%;
    padding: 3rem 0;
  }

  @media (max-width:1400px) {
    .reveal-text {
    font-size: 6rem;

  }
  }

  @media (max-width:1190px) {
    .reveal-text {
    font-size: 5rem;

  }
  }

  @media (max-width:1000px) {
    .reveal-text {
    font-size: 4rem;
    line-height: 5rem;

  }
  }

  @media (max-width:600px) {
    .reveal-text {
    font-size: 3rem;
    line-height: 4rem;
  }

  .reveal
  {
    text-align: center;
  }
  }
  

  @media (max-width:470px) {
    .reveal-text {
      font-size: 4rem;
      line-height: 4.6rem;
    }

    .reveal {
      padding: 0 1.5rem;
    }
  }

  @media (max-width:350px) {
    .reveal-text {
      font-size: 1.5rem;
      line-height: 2rem;
    }
    .reveal {
      padding: 0 0.7rem;
    }
  }