.foter-container {
    height: 30vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 5rem;
}

.footer-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: row;
}

.foter-logo {
    font-size: 3rem;
    font-weight: 700;
    color: white;
}

.footer-vertical-line {
    height: 100px;
    width: 2px;
    background-color: white;
    display: block;
}

.footer-horizontal-line {
    height: 2px;
    width: 250px;
    background-color: white;
    display: none;
}

.foter-navigtion-bar {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;

}

.footer-nav-link {
    font-weight: 700;
    font-size: 17px;
}

.footer-nav-top-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}


.footer-right-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: white;
    gap: 0.5rem;

}

.footer-social-media-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;
}

.footer-social-media-icon img {
    height: 23px;
    cursor: pointer;
}

.footer-copyright-text {
    display: block;
}

.footer-copyright-text-responsive
    {
        display: none;
    }

@media (max-width:800px) {

    .foter-container {
        padding: 2rem;
        height: auto;
    }

    .footer-left-container {
        flex-direction: column;
        gap: 1rem;
    }

    .footer-vertical-line {
        display: none;
    }

    .footer-horizontal-line {

        display: block;
    }
}

@media (max-width:550px) {
    .foter-container {
        flex-direction: column;
        gap: 2.5rem;
    }

    .footer-copyright-text {
        display: none;
    }

    .footer-copyright-text-responsive
    {
        display: block;
        padding-top: 1.3rem ;
    }

    .footer-right-container
    {
        align-items: center;
    }
}