.work-section{
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    margin-top: 10vh;
}
 .ourwork-txt{
width: 60vw;
height: 0vh;

z-index: 98;
position: absolute;
 }
 #our{
    position: absolute;
    transform: translate(-20%,-50%);
    top: 0;
    left: 35%;
    font-size: 1.8rem;
    color: aliceblue;
 }
 #work{
    position: absolute;
    transform: translate(20%,50%);
    bottom: 0;
    right: 35%;
    font-size: 1.8rem;
    color: aliceblue;
 }
 .our-work-txt-div{
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 0vh;
    background-color: aliceblue;
 }
 .scroll-work{
    width: 100%;
    height: 60vh;
    overflow: hidden;
    background-color: rgb(55, 55, 57);
    transition: all ease-in;
 }
 .img-scroll{
    width: 100%;
    margin-top: 0%;
 }

 .img-scroll img{
width: 100%;
height: 100%;
 }
 